<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Admin Apps</a>
  
	<div class="nav-collapse collapse" ng-controller="NavCtrl">
	    <ul class="nav">
		    <li><a href="/messages">Messages</a></li>
		    <li><a href="/settings">Settings</a></li>
		    <li><a href="" data-ng-click="logout()">Logout</a></li>
		    <li><a href="/users">Users</a></li>
            <li><a href="/user">Add User</a></li>
	    </ul>
	</div>
    </div>
  </div>
</div>
          
<div ui-view></div>